name: docker-ci-pipeline
on: push
jobs:
  docker-job:
   runs-on: ubuntu-latest
   steps:
     - name: Dockerfile checkout 
       uses: actions/checkout@v6
     - name: Build Image
       run: docker build -t ${{ vars.DOCKER_USERNAME }}/docker-python-image:v1 .
     - name: verify image
       run: docker images
     - name: Create Container
       run:  docker run --name mypythonapp -itd -p 7991:8080 ${{ vars.DOCKER_USERNAME }}/docker-python-image:v1
     - name: Verify Container
       run:  docker ps
     - name: Curl Output
       run:  curl http://localhost:7991 
     - name: Docker Login
       uses: docker/login-action@v3.6.0
       with:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
     - name: Docker Push
       run: docker push ${{ vars.DOCKER_USERNAME }}/docker-python-image:v1
     - name: Clean up
       run:  docker rm mypythonapp
       
