name: docker-ci-pipeline
on: 
 push:
  paths-ignore: 
   - 'README.md'
   - 'LICENSE'
   - 'Dockerfile'
   - 'CONTRIBUTING.md'
   - 'sample'
jobs:
  docker-job:
   runs-on: ubuntu-latest
   steps:
     - name: Dockerfile checkout 
       uses: actions/checkout@v6
     - name: Build Image
       run: docker build -t ${{ vars.DOCKER_USERNAME }}/docker-python-image:v1 .
     - name: verify image
       run: docker images
     - name: Create Container
       run:  docker run --name mypythonapp -itd -p 7991:8080 ${{ vars.DOCKER_USERNAME }}/docker-python-image:v1
     - name: Wait Time
       run:  sleep 20
     - name: Verify Container
       run:  docker ps
     - name: Curl Output
       run:  curl -f http://localhost:7991 
     - name: Docker Login
       uses: docker/login-action@v3.6.0
       with:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
     - name: Docker Push
       run: docker push ${{ vars.DOCKER_USERNAME }}/docker-python-image:v1
     - name: Clean up
       run:  docker rm -f mypythonapp
  k8scd-job:
   runs-on: ubuntu-latest
   needs: docker-job
   steps:
    - name: code checkout 
      uses: actions/checkout@v6

    - name: start minikube
      uses: medyagh/setup-minikube@latest

    - name: test-minikube
      run: kubectl get pods -A

    - name: Run-yaml-file
      run: |
       kubectl apply -f k8s/.
       kubectl config set-context --current --namespace=esther-ns
       sleep 20 
       kubectl wait --for=condition=ready pod -l app=python,name=esther-app
    - name: verify-status
      run: |
       kubectl get ns
       kubectl get deploy,svc -n esther-ns
    
    - name: Test service URLs
      run: |
       minikube service list
       minikube service esther-image-service --url
       echo -n "------------------opening the service------------------"
       curl -f $(minikube service esther-image-service -n esther-ns --url)/version

     
     
     
       
